body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vh; 
}

.img1 {
  position: relative;
  left: 50px;
  z-index: 1;
}

.img2 {
  position: relative;
  bottom: 50px;
}